{% extends "Base.html"%}
 {% block Titulo_Pagina%} <i class="fa fa-puzzle-piece"></i> Areas{%endblock%}
{%block contenedor_principal%}

<div class="spacer" ng-app="App" ng-controller="controlador">
<div class="row">
	<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
								<!-- Widget starts -->
		<div class="blog blog-info">
			<div class="blog-header">
				<h5 class="blog-title">Areas</h5>
			</div>
			<div class="blog-body">
					<form class="bv-form" novalidate="novalidate" id="movieForm" method="post">
				<!-- {% csrf_token %} -->

					<div class="form-group has-feedback">
						<div class="row">
							<div class="col-md-12">
								<input  maxlength="50" class="form-control" name="area" type="text" ng-model="area.area" placeholder="Digite el nombre del area">
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-success " ng-click="GuardarArea(area)"><i class="fa fa-check"></i> Crear</button>
					<button type="submit" class="btn btn-info pull-right" data-toggle="modal" data-target="#Lista_Areas"><i class="fa fa-eye"></i> Ver Areas</button>
					<button type="submit" class="btn btn-danger" ng-click="LimpiarArea()"><i class="fa fa-close"></i> Cancelar</button>
				</form>	
			</div>
		</div>
    </div>
</div>
<div class="modal fade" id="Lista_Areas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="table-responsive">
											<table class="table table-striped table-bordered table-hover no-margin">
												<tbody>
												<tr>
												<td class="total success" colspan="3" style="background-color: #D14C4D; color:#fff;">Lista de Areas de la Municipalidad</td>
													</tr>
													<tr >
														<td>ID</td>
														<td>Nombre</td>
														<td>Acciones</td>
													</tr>
												<tr ng-repeat="area in areas">
														<td>
														<span class=" right-align-text">[[area.id]]</span></td>
														<td>
														<span class=" right-align-text">[[area.area]]</span></td>
														<td>
															<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalLg" ng-click="ListarCargos([[area.id]])">
															<i class="fa fa-eye"></i>	Ver Cargos
															</button>
															<button class="btn btn-sm btn-success"data-toggle="modal" data-target="#modalcargo" ng-click="SeleccionArea([[area.id]])"><i class="fa fa-check"></i> Crear Cargo</button>
															<button class="btn btn-sm btn-danger botonsito" ng-click="EliminarArea([[area.id]],[[area.area]])"><i class="fa fa-close"></i> Eliminar Elemento</button>
														
															
														</td>
													</tr>													
												</tbody>
											</table>
											<br>
										</div>	
					</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">
							<i class="fa fa-times"></i> Cerrar
					    </button>
					</div>
				</div>										
			</div>
</div>

<div class="modal fade" id="modalLg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
										<table class="table table-striped table-bordered table-hover no-margin">
												<tbody>
												<tr>
												<td class="total success" colspan="3" style="background-color: #5B90BF; color:#fff;">Lista de Cargos</td>
													</tr>
													<tr >
														<td>ID</td>
														<td>Nombre</td>
														<td>Acciones</td>
													</tr>
												<tr ng-repeat="cargo in ListaCargos">
														<td>
														<span class=" right-align-text">[[cargo.id]]</span></td>
														<td>
														<span class=" right-align-text">[[cargo.cargo]]</span></td>
														<td>
															<button class="btn btn-xs btn-danger " ng-click="EliminarCargo([[cargo.id]])"><i class="fa fa-times"></i> Eliminar Elemento</button>
															
														</td>
													</tr>													
												</tbody>
											</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">
							<i class="fa fa-times"></i> Cerrar
					    </button>
					</div>
				</div>										
			</div>
</div>
<div class="modal fade" id="modalcargo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<input maxlength="50" type="text" placeholder="Digite Nombre del Cargo" class="form-control" ng-model="carguito">
					</div>
					<div class="modal-footer">
					<button class="btn btn-success" ng-click="InsertarCargo([[area_seleccionada]],carguito)" data-target="#modalcargo" data-dismiss="modal"><i class="fa fa-check"></i> Crear Cargo</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
					</div>
				</div>										
			</div>
</div>
</div>
{%endblock%}