{% extends "Base.html"%}
 {% block Titulo_Pagina%} <i class="fa fa-server"></i> Licencias{%endblock%}
{%block contenedor_principal%}

<div class="spacer" ng-app="App" ng-controller="controlador">
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="blog blog-info">
			<div class="blog-header">
				<h5 class="blog-title">Licencias</h5>
			</div>
			<div class="blog-body">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="blog blog-success">
								<div class="blog-header">
									<h5 class="blog-title"><i class="fa fa-cogs"></i> Datos Generales [[trabDetalle.nombres]] [[trabDetalle.ap_paterno]] [[trabDetalle.ap_materno]]</h5>
								</div>
								<div class="blog-body">
										<form class="bv-form" id="formulario" name="formulario">
										{%csrf_token%}
											<div class="form-group has-feedback">
												<label class="control-label" >Elija la opcion de licencia</label>
													<div class="col-md-12">
														<label class="radio-inline">
															<input ng-model="licencia.tipo"  value="licencia1" id="licencia1" name="licencia1" type="radio"> Licencia Particular
														</label>
														<label class="radio-inline">
															<input ng-model="licencia.tipo"  value="licencia2" id="licencia2" name="licencia2" type="radio"> A cuenta de Vacaciones
														</label>
													</div>
											</div>
											<div class="form-group has-feedback">
												<div class="row">
													<div class="col-md-4">
													<br>
														<input  class="form-control" ng-model="licencia.dni" type="text" ng-blur="LlamarTrabajador(licencia.dni)" placeholder="DNI" name="dni" maxlength="8">
													</div>
												</div>
											</div>
											<div class="form-group has-feedback">
												<div class="row">
													<div class="col-md-6">
														<input ng-hide="licencia.tipo == 'licencia2' || licencia.tipo == 'licencia1' "  class="form-control"  type="number" ng-model="licencia.tiempo" placeholder="Digite Tiempo en..." ng-required="true">
														<input ng-show="licencia.tipo == 'licencia2'"  class="form-control"  type="number" ng-model="licencia.tiempo" placeholder="Digite Tiempo en dias" ng-required="true" min="1" max="30">
														<input ng-show="licencia.tipo == 'licencia1'"  class="form-control"  type="number" ng-model="licencia.tiempo" placeholder="Digite Tiempo en horas" ng-required="true" min="1" max="8">
													</div>
													<div class="col-md-6">
														<select class="form-control" ng-model="licencia.periodo">
														<option value="">Periodo</option>
														<option value="[[periodo]]"  ng-repeat="periodo in periodos_trabajador">[[periodo]]</option>
													</select>
													</div>
												</div>
											</div>
											<div class="form-group has-feedback">
												<div class="row">
													<div class="col-md-12">
														<input  class="form-control" name="area" type="text" ng-model="licencia.autorizacion" placeholder="Autorizado por...">
													</div>
												</div>
											</div>
											<div class="form-group has-feedback">
												<div class="row">
													<div class="col-md-6">
														<input  class="form-control" name="area" type="text" ng-model="licencia.registro" placeholder="Registro" ng-required="true">
													</div>
													<div class="col-md-6">
														<input  class="form-control" name="area" type="text" ng-model="licencia.registro_area_personal" placeholder="Registro area de personal" ng-required="true">
													</div>
												</div>
											</div>									
											<div class="form-group has-feedback">
												<div class="row">
													<div class="col-md-12">
													<textarea name="textarea" class="form-control" rows="5" cols="50" placeholder="Escribir detalles" ng-model="licencia.detalles"></textarea>
													</div>
												</div>
											</div>
											<div class="form-group has-feedback">
												<div class="row">
													<div class="col-md-7">
														<button type="button" class="btn btn-success" ng-click="InsertarLicencia(licencia)"><i class="fa fa-check"></i> Aceptar</button>
														<button type="button" class="btn btn-danger" ng-click="limpiar_licencia()"><i class="fa fa-close"></i> Cancelar</button>
													</div>
												</div>
											</div>
										</form>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
  						<h5 class="control-label" > Elija fecha de salida <i class="fa fa-long-arrow-right"></i></h5>
							<div ng-model="licencia.fecha_salida" datepicker></div>							
								<br>
								<br>
							<h5 class="control-label" ng-show="licencia.tipo == 'licencia2'" > Elija fecha de retorno <i class="fa fa-long-arrow-left"></i> </h5>
							<div ng-show="licencia.tipo == 'licencia2'" ng-model="licencia.fecha_retorno" datepicker></div>
						</div>
					</div>

			</div>

		</div>
    </div>
    <section class="bg--white soft-three" id="licencia" style="display:none">
	<div style="text-align:center; text-transform: uppercase; font-size:20px;"><b>REPORTE DE LICENCIA</b></div>
	<br>
	<br>
		<p>________________________________________________________________________________________________</p>
		<div>
		<div class="fecha">
			<img src="[[trabDetalle.foto]]" width="50" height="50" class="fecha">
		</div>
			<h4>Nombre: [[trabDetalle.nombres]] [[trabDetalle.ap_paterno]] [[trabDetalle.ap_materno]]</h4>
		</div>
		<div class="subtitulo">
			<p><b>DNI:</b> [[trabDetalle.dni]]</p>
		</div>
		<div class="subtitulo">
			<p><b>Dirección:</b> [[trabDetalle.direccion]]</p>
		</div>
		<div class="subtitulo">
			<p><b>Situación:</b> [[trabDetalle.situacion]]</p>
		</div>
		<div class="subtitulo">
			<p><b>Tipo de licencia:</b> [[tipo_licencia]]</p>
		</div>
		<div class="subtitulo">
			<div ng-if="[[tipo_licencia]]=='Licencia Particular'">
				<p><b>Tiempo: </b> [[licencia.tiempo]] HORAS</p>	
			</div>
			<div ng-if="[[tipo_licencia]]=='Licencia a cuenta de vacaciones'">
				<p><b>Tiempo: </b> [[licencia.tiempo]] DIAS</p>	
			</div>
		</div>
		<div class="subtitulo">
			<p><b>Fecha de salida: </b> [[licencia.fecha_salida | toUpper]]</p>
		</div>
		<div class="subtitulo">
			<p><b>Fecha de retorno: </b> [[licencia.fecha_retorno | toUpper]]</p>
		</div>
		<div class="subtitulo">
			<p><b>Periodo: </b> [[licencia.periodo | toUpper]]</p>
		</div>
		<div class="subtitulo">
			<p><b>Autorizado por: </b> [[licencia.autorizacion  | toUpper]]</p>
		</div>
		<div class="subtitulo">
			<p><b>Registro: </b> [[licencia.registro | toUpper]]</p>
		</div>
		<div class="subtitulo">
			<p><b>Registro de area de personal: </b> [[licencia.registro_area_personal  | toUpper]]</p>
		</div>
		<div class="subtitulo">
			<p><b>Detalles: </b> [[licencia.detalles  | toUpper]]</p>
		</div>
	<br>
	
</section>
</div>
</div>
{%endblock%}