{% extends "Base.html"%}
 {% block Titulo_Pagina%} <i class="fa fa-user"></i> Trabajadores{%endblock%}
{%block contenedor_principal%}
<div class="spacer"  ng-app="App" ng-controller="controlador">
		<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="blog blog-success no-margin">
									<div class="blog-header">
										<h5 class="blog-title">Lista de Trabajadores</h5>
									</div>
									<div class="blog-body">
									<!-- <div class="spacer"> -->
										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
												<input type="text" class="form-control" ng-model="busqueda" placeholder="Digite datos del trabajador a buscar..">
											</div>
										</div>
									<!-- </div> -->
									<br>
										<div class="table-responsive">
											<table class="table table-condensed table-bordered no-margin">
												<tbody>
													<tr class="bg-info" style="color:#fff;">
														<td><strong>DNI</strong></td>
														<td><strong>Nombres</strong></td>
														<td><strong>Direccion</strong></td>
														<td><strong>Telefono</strong></td>
														<td><strong>Acciones</strong></td>
													</tr>
													<tr ng-repeat="trabajador in trabajadores | filter:busqueda">
														<td>
															[[trabajador.dni]]
														</td>
														<td>
															[[trabajador.nombres]] [[trabajador.ap_paterno]] [[trabajador.ap_materno]]
														</td>
														<td>
															[[trabajador.direccion]]
														</td>
														<td>
															[[trabajador.telefono]]
														</td>
														<td>
															<button class="btn btn-sm btn-success" data-toggle="modal" data-target="#detalleTrabajador" ng-click="DetalleTrabajador([[trabajador.dni]])"><i class="fa fa-reorder"></i> Ver Detalle</button> 
															<button  class="btn btn-sm btn-danger" id="danger" ng-click="EliminarTrabajador([[trabajador.dni]])"><i class="fa fa-close"></i> Eliminar</button >
														</td>
													</tr>													
												</tbody>
											</table>
										</div> 
										<br>
										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
												<button class="btn btn-info btn" data-toggle="modal" data-target="#modalLg" ng-click="ListarCargos([[area.id]])">
													<i class="fa fa-user"></i> 
													<span class="hidden-xs">Crear Nuevo Trabajador</span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>		
		</div>
<div class="modal fade" id="modalLg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title text-info" id="myModalLabel"></h4>
					</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="blog">
									<div class="blog-header bg-info">
										<h5 class="blog-title" style="color:#fff"><i class="fa fa-user fa-2x"></i> Agregar Nuevo Trabajador</h5>
									</div>
									<div class="blog-body">
							<form action="/trabajadores/lista_trabajadores/" method="post" enctype="multipart/form-data">
							    {% csrf_token %}
							    {# {{ form.as_p }} #}
							    <div class="form-group">
									<div class="row">
										<div class="col-md-5">
							    			<input class="form-control" type="text" name="dni" placeholder="DNI" id="dni" maxlength="50">
							    		</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
										<input class="form-control" type="text" name="nombres" placeholder="Nombres" maxlength="50">
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
										<input class="form-control" type="text" name="ap_paterno" placeholder="Apellido Paterno" maxlength="50">	</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
							    			<input class="form-control" type="text" name="ap_materno" placeholder="Apellido Materno" maxlength="50">
							    		</div>
									</div>
								</div>
							    <div class="form-group">
									<div class="row">
										<div class="col-md-12">
							    			<input id="email" class="form-control" type="text" name="email" placeholder="E-mail"  maxlength="50">
							    		</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
							    			<input class="form-control" type="text" name="direccion" placeholder="Direccion" maxlength="50">
							    		</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
							   				 <input class="form-control" type="text" name="telefono" placeholder="Telefono" maxlength="12" id="movil">
							    		</div>
									</div>
								</div>
								<div class="form-group" style="display:none">
									<div class="row">
										<div class="col-md-12">
							    		<input class="form-control" type="text" name="dias_vacaciones" placeholder="Vacaciones" value="30" >
							    		</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
							    		<select id="id_situacion" name="situacion" class="form-control">
										<option value="" selected="selected">Elija Situacion</option>
										<option value="PERMANENTE">PERMANENTE</option>
										<option value="NOMBRADO">NOMBRADO</option>
										<option value="REPUESTO JUDICIAL">REPUESTO JUDICIAL</option>
										<option value="OBRERO NOMBRADO">OBRERO NOMBRADO</option>
										<option value="OBRERO NOMBRADO">OBRERO PERMANENTE</option>
										<option value="OBRERO NOMBRADO">OBRERO DESIGNADO</option>
										<option value="OBRERO NOMBRADO">OBRERO CONTRATADO</option>
										<option value="CAS">CAS</option>
										</select>
							    		</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
									<label for="" style="margin-left:10px;"> Foto:</label>
										<div class="col-md-12">
							    			<input  type="file" name="foto" placeholder="foto">
							    		</div>
									</div>
								</div>
								<button type="submit" class="btn btn-info"><i class="fa fa-check"></i> Aceptar</button>
								<button type="submit" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
								</form>	
									</div>
								</div>
							</div>
					
					<div class="modal-footer">
					</div>
				</div>										
			</div>
</div>
		<div class="modal fade" id="detalleTrabajador" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title text-info" id="myModalLabel"></h4>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="container-fluid">
					
					<!-- Spacer Starts -->
					<div class="spacer">

						<!-- Row start -->
						<div class="row">
							<div class="col-md-12 col-sm-12 col-sx-12">
								<div class="current-profile">
									<div class="user-bg" 
										style="background:url({{MEDIA_URL}}Trabajadores/fotos/profile-bg.jpg)"></div>
									<div class="user-pic" style="overflow: hidden"><img src="[[trabDetalle.foto]]" width="100%" ></div>
									<div class="user-details">
										<h4 class="user-name">[[trabDetalle.nombres]] [[trabDetalle.ap_paterno]] [[trabDetalle.ap_materno]]</h4>
										<h4 class="user-name">[[trabDetalle.dni]]</h4>
									</div>
									<div class="social-list">
										<div class="row">
											<div class="col-md-12">
												<div class="row">
													<div class="col-md-3 col-sm-3 col-xs-3 center-align-text">
														<h4 style="color:white">[[trabDetalle.direccion]]</h4>
														<small>Direccion</small>
													</div>
													<div class="col-md-3 col-sm-3 col-xs-3 center-align-text">
														<h4 style="color:white">[[trabDetalle.telefono]]</h4>
														<small>Telefono</small>
													</div>
													<div class="col-md-3 col-sm-3 col-xs-3 center-align-text">
														<h4 style="color:white">[[trabDetalle.email]]</h4>
														<small>E-mail</small>
													</div>
													<div class="col-md-3 col-sm-3 col-xs-3 center-align-text">
														<h4 style="color:white">[[trabDetalle.situacion]]</h4>
														<small>Situacion</small>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Row end -->
						<div class="row">
							<div class="col-md-12 col-sm-12 col-sx-12">
							<button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#vacaciones">
											<i class="fa fa-check"></i> Generar Vacaciones</button>
										<button type="button" class="btn btn-success  pull-right" data-dismiss="modal" data-toggle="modal" data-target="#ActualizarPuesto">
											<i class="fa fa-check"></i> Actualizar Puesto</button>
										
										</div>
						</div>
						<!-- Row start -->
						
						<br>
						<br>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
								<!-- Timeline starts -->
								<div class="timeline animated no-padding" >
									<div class="timeline-row active" ng-repeat="puesto in puestos">
										<div class="timeline-time">
											[[puesto.fecha_registro]]
											<small><span class="text-danger">Perdiodo:</span> [[puesto.periodo]]</small>
										</div>
										<div class="timeline-icon">
											<div class="danger-bg">
												<i class="fa fa-check"></i>
											</div>
										</div>
										<div class="panel timeline-content">
											<div class="panel-body">
												<h2>
													 [[puesto.cargo]]
												</h2>
												<p>
													<span class="text-info">AREA:</span> [[puesto.area]]
												</p>
											</div>
										</div>
									</div>
								</div>
								<!-- Timeline ends -->
							</div>
						</div>
						<!-- Row end -->

					</div>
					<!-- Spacer Ends -->

				</div>
					<!--
							<div class="row">
							<div class="col-md-12 col-sm-12 col-sx-12">
								<div class="panel no-margin">
									<div class="panel-heading">
										<h5 class="panel-title">DNI:<span class="text-info"> [[trabDetalle.dni]]</span>
										</h5>
										<i class="custom-text">Fecha - <small class="text-success">[[date]]</small></i>
									</div>
									<div class="panel-body">
										<div class="table-responsive">
											<table class="table">
												<tbody>
													<tr>
														<td style="width:50%">
															<address class="no-margin">
																<h5><strong class=""><i class="fa fa-user fa-lg"></i> [[trabDetalle.nombres]] [[trabDetalle.ap_paterno]] [[trabDetalle.ap_materno]]</strong></h5>
																<strong>Datos Personales</strong> <br>
																<abbr title="telefono"><b><i class="fa fa-phone fa-lg"></i></b></abbr> <span class="text-success">: [[trabDetalle.telf_movil]]</span><br>
																<abbr title="direccion"><b><i class="fa fa-home fa-lg"></i></b></abbr><span class="text-success">: [[trabDetalle.direccion]]</span><br>
															</address>
														</td>
														<td style="width:50%" class="right-align-text">
															<address class="no-margin">
																<h5><strong class="">Detalles Laborales</strong></h5>
																<abbr title="Area"><b>Area: </b></abbr><span class="text-success">[[areaTrabajador]]</span><br>
																<abbr title="Cargo"><b>Cargo: </b></abbr> <span class="text-success">[[cargoTrabajador]]</span><br>
																<abbr title="Cargo"><b>Situacion: </b></abbr> <span class="text-success">[[trabDetalle.situacion]]</span><br>
															</address>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#vacaciones">
											<i class="fa fa-check"></i> Generar Vacaciones</button>
										<button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#ActualizarPuesto">
											<i class="fa fa-check"></i> Actualizar Puesto</button>
										<button type="button" class="btn btn-danger pull-right" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button
										>
									</div>
								</div>
							</div>
						</div>	

						-->
					</div>
					<div class="modal-footer">

					</div>
				</div>										
			</div>
</div>

	<div class="modal fade" id="vacaciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title text-info" id="myModalLabel"></h4>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="row">
							<div class="col-md-12 col-sm-12 col-sx-12">
								<div class="panel no-margin">
									<div class="panel-body">
										<div class="col-md-6">
											<select ng-model="licencia.anio" class="form-control">
												<option value="">Seleccione Periodo</option>
												<option ng-repeat="anio in anios" value="[[anio.anio]]">[[anio.anio]]</option>
											</select>
										</div>
										<div class="col-md-6">
										<button type="button" class="btn btn-info" data-dismiss="modal" ng-click="GenerarVacaciones(licencia,trabDetalle)">
											<i class="fa fa-check"></i> Generar Vacaciones
										</button>
										<button type="button" class="btn btn-danger" data-dismiss="modal">
											<i class="fa fa-times"></i> Cerrar</button>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="modal-footer">

					</div>
				</div>										
			</div>
</div>

<div class="modal fade" id="ActualizarPuesto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title text-info" id="myModalLabel"></h4>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="row">
							<div class="col-md-12 col-sm-12 col-sx-12">
								<div class="panel no-margin">
									<div class="panel-body">
											<div class="row">
													<div class="col-md-12">
														<label class="control-label">Periodo</label>
														<select ng-model="licencia.anio" class="form-control">
															<option ng-repeat="anio in anios" value="[[anio.anio]]">[[anio.anio]]</option>
														</select>
													</div>
													<div class="col-md-12">
														<label class="control-label">Area</label>
														<select name="area" class="form-control" ng-model="area" ng-options="area.area for area in areas" ng-change="ListarCargos(area.id)">
							    						</select>
													</div>
													<div class="col-md-12">
														<label class="control-label">Cargo</label>
														<select class="form-control" name="cargos" ng-model="cargos" ng-options="cargo.cargo for cargo in ListaCargos">
														</select>
													</div>
												</div>
										<br>
										<button type="button" class="btn btn-info" data-dismiss="modal" ng-click="AgregarAreaCargo([[trabDetalle.dni]],[[licencia.anio]],[[area.area]],[[cargos.cargo]])">
											<i class="fa fa-check"></i> Aceptar
										</button>
										<button type="button" class="btn btn-danger" data-dismiss="modal">
											<i class="fa fa-times"></i> Cerrar</button>
										
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="modal-footer">

					</div>
				</div>										
			</div>
</div>

</div>


{%endblock%}