						{% extends "Base.html"%}
 {% block Titulo_Pagina%} <i class="fa fa-calendar"></i> Periodos{%endblock%}
{%block contenedor_principal%}

<div class="spacer" ng-app="App" ng-controller="controlador">
<div class="row">
	<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
								<!-- Widget starts -->
		<div class="blog blog-info">
			<div class="blog-header">
				<h5 class="blog-title">	Periodos</h5>
			</div>
			<div class="blog-body">
					<form class="bv-form" novalidate="novalidate" id="movieForm" method="post">
				<!-- {% csrf_token %} -->

					<div class="form-group has-feedback">
						<div class="row">
							<div class="col-md-12">
								<input  id="periodo" class="form-control" name="area" type="text" ng-model="anio" placeholder="Digitar periodo" maxlength="8">
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-success " ng-click="GuardarPeriodo(anio)"><i class="fa fa-check"></i> Crear</button>
					<button type="submit" class="btn btn-info pull-right" data-toggle="modal" data-target="#Lista_Areas"><i class="fa fa-eye"></i> Ver Periodos</button>
					<button type="submit" class="btn btn-danger " ng-click="LimpiarPeriodo()"><i class="fa fa-close"></i> Cancelar</button>
				</form>	
			</div>
		</div>
								<!-- Widget ends -->
    </div>
</div>
<div class="modal fade" id="Lista_Areas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="table-responsive">
											<table class="table table-striped table-bordered table-hover no-margin">
												<tbody>
												<tr>
												<td class="total success" colspan="3" style="background-color: #D14C4D; color:#fff;">Lista de Periodos</td>
													</tr>
													<tr >
														<td>ID</td>
														<td>Periodo</td>
													</tr>
												<tr ng-repeat="periodo in anios">
														<td>
														<span class=" right-align-text">[[periodo.id]]</span></td>
														<td>
														<span class=" right-align-text">[[periodo.anio]]</span></td>
														<td>
															<button class="btn btn-sm btn-danger botonsito" ng-click="EliminarPeriodo([[periodo.id]])"><i class="fa fa-close"></i> Eliminar Elemento</button>
														</td>
													</tr>													
												</tbody>
											</table>
											<br>
										</div>	
					</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">
							<i class="fa fa-times"></i> Cerrar
					    </button>
					</div>
				</div>										
			</div>
</div>
</div>

{%endblock%}