{% extends "Base.html"%}
 {% block Titulo_Pagina%} <i class="fa fa-user"></i> Trabajadores{%endblock%}
{%block contenedor_principal%}
<div ng-app="App" ng-controller="controlador">

	<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="blog blog-success no-margin">
									<div class="blog-header">
										<h5 class="blog-title">Lista de Trabajadores</h5>
									</div>
									<div class="blog-body">
									<!-- <div class="spacer"> -->
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<input type="text" class="form-control" ng-model="busqueda" placeholder="Digite DNI del trabajador que desea buscar">
											</div>
										</div>
									<!-- </div> -->
									<br>
										<div class="table-responsive">
											<table class="table table-condensed table-bordered no-margin">
												<tbody>
													<tr class="bg-info" style="color:#fff;">
														<td><strong>DNI</strong></td>
														<td><strong>Nombres</strong></td>
														<td><strong>Direccion</strong></td>
														<td><strong>Telefono</strong></td>
														<td><strong>Acciones</strong></td>
													</tr>
													<tr ng-repeat="trabajador in trabajadores | filter:busqueda">
														<td>
															[[trabajador.dni]]
														</td>
														<td>
															[[trabajador.nombres]] [[trabajador.ap_paterno]] [[trabajador.ap_materno]]
														</td>
														<td>
															[[trabajador.direccion]]
														</td>
														<td>
															[[trabajador.telf_movil]]
														</td>
														<td>
															<button class="btn btn-sm btn-success" data-toggle="modal" data-target="#detalleTrabajador" ng-click="DetalleTrabajador([[trabajador.dni]])"><i class="fa fa-reorder"></i> Ver Detalle</button> 
															<button  class="btn btn-sm btn-danger" id="danger" ng-click="EliminarTrabajador([[trabajador.dni]])"><i class="fa fa-close"></i> Eliminar</button >
														</td>
													</tr>													
												</tbody>
											</table>
										</div> 
										<br>
										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
												<button class="btn btn-info btn" data-toggle="modal" data-target="#modalLg" ng-click="ListarCargos([[area.id]])">
													<i class="fa fa-user"></i> 
													<span class="hidden-xs">Crear Nuevo Trabajador</span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>		
		</div>
						
</div>


<div class="modal fade" id="modalLg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title text-info" id="myModalLabel"></h4>
					</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="blog">
									<div class="blog-header bg-info">
										<h5 class="blog-title" style="color:#fff"><i class="fa fa-user fa-2x"></i> Agregar Nuevo Trabajador</h5>
									</div>
									<div class="blog-body">
										<form action="/trabajadores/lista_trabajadores/" method="post" enctype="multipart/form-data">
							    {% csrf_token %}
							    {# {{ form.as_p }} #}
							    <div class="form-group">
									<div class="row">
										<div class="col-md-5">
							    			<input class="form-control" type="text" name="dni" placeholder="dni">
							    		</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
										<input class="form-control" type="text" name="nombres" placeholder="nombre" value="jose">
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
										<input class="form-control" type="text" name="ap_paterno" placeholder="ap" value="quispe">	</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
							    			<input class="form-control" type="text" name="ap_materno" placeholder="am" value="perez">
							    		</div>
									</div>
								</div>
							    <div class="form-group">
									<div class="row">
										<div class="col-md-12">
							    			<input class="form-control" type="text" name="email" placeholder="email" value="monas@asdas.com">
							    		</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
							    			<input class="form-control" type="text" name="direccion" placeholder="direccion" value="4">
							    		</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
							   				 <input class="form-control" type="text" name="telefono" placeholder="telf_movil" value="4644563">
							    		</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
							    		<input class="form-control" type="text" name="dias_vacaciones" placeholder="dias_vacaciones" value="3">
							    		</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
							    		<select id="id_situacion" name="situacion">
										<option value="" selected="selected">---------</option>
										<option value="PERMANENTE">PERMANENTE</option>
										<option value="NOMBRADO">NOMBRADO</option>
										<option value="REPUESTO JUDICIAL">REPUESTO JUDICIAL</option>
										<option value="OBRERO NOMBRADO">OBRERO NOMBRADO</option>
										<option value="CAS">CAS</option>
										</select>
							    		</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
							    			<input  type="file" name="foto" placeholder="foto">
							    		</div>
									</div>
								</div>
							    <input type="submit" value="Submit" />
						</form>	
									</div>
								</div>
							</div>
					
					<div class="modal-footer">
					</div>
				</div>										
			</div>
</div>



{%endblock%}