{% extends "Base.html"%}
 {% block Titulo_Pagina%} <i class="fa fa-book"></i> Reportes{%endblock%}
{%block contenedor_principal%}
<div class="spacer"  ng-app="App" ng-controller="controlador">
		<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="blog blog-success no-margin">
									<div class="blog-header">
										<h5 class="blog-title">Reporte de Licencias por trabajador</h5>
									</div>
									<div class="blog-body">
										<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
										<div class="form-group">
												<input class="form-control" name="dni" type="text" ng-model="dni" placeholder="DNI" maxlength="8" ng-blur="LlamarTrabajador(dni)">
											</div>
										</div>
											<div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<select class="form-control" ng-model="periodo">
														<option value="">Periodo</option>
														<option value="[[periodo]]"  ng-repeat="periodo in 
														periodos_trabajador">[[periodo]]</option>
												</select>
											</div>
											
											</div>

											<div class="col-md-12">
												<button class="btn btn-info btn" ng-click="Detalle_Licencia_individual(dni,periodo)"  data-toggle="modal" data-target="#detalleTrabajador" style="margin-right: 5px;">
													<i class="fa fa-user"></i> 
													<span class="hidden-xs"> Reporte del trabajador por fechas</span>
												</button>

												<button class="btn btn-success btn " ng-click="Detalle_Licencia_individual(dni,periodo)"  data-toggle="modal" data-target="#detalleLicencias" style="margin-right: 5px;">
													<i class="fa fa-user"></i> 
													<span class="hidden-xs">Reporte del trabajador detallado</span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
						<br>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="blog blog-success no-margin">
									<div class="blog-header">
										<h5 class="blog-title">Reporte general de licencias</h5>
									</div>
									<div class="blog-body">
										<div class="row">
											<div class="col-md-12"> 
												<button class="btn btn-danger btn" ng-click="listar_Licencias()" data-toggle="modal" data-target="#detalleGeneral">
													<i class="fa fa-users"></i> 
													<span class="hidden-xs"> Reporte general de trabajadores</span>
												</button>											
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

	<div class="modal fade" id="detalleLicencias" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title text-info" id="myModalLabel"></h4>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="container-fluid">
					
					<!-- Spacer Starts -->
					<div class="spacer">
							
						<!-- Row start -->
						<div class="row">
							<div class="col-md-12 col-sm-12 col-sx-12">
								<div class="current-profile">
									<div class="user-bg" 
										style="background:url({{MEDIA_URL}}Trabajadores/fotos/profile-bg.jpg)"></div>
									<div class="user-pic" style="overflow: hidden"><img src="[[trabDetalle.foto]]" width="100%" ></div>
									<div class="user-details">
										<h4 class="user-name">[[trabDetalle.nombres]] [[trabDetalle.ap_paterno]] [[trabDetalle.ap_materno]]</h4>
										<h4 class="user-name">[[trabDetalle.dni]]</h4>
									</div>
									<div class="social-list">
										<div class="row">
											<div class="col-md-12">
												<div class="row">
													<div class="col-md-3 col-sm-3 col-xs-3 center-align-text">
														<h4 style="color:white">[[trabDetalle.direccion]]</h4>
														<small>Direccion</small>
													</div>
													<div class="col-md-3 col-sm-3 col-xs-3 center-align-text">
														<h4 style="color:white">[[trabDetalle.telefono]]</h4>
														<small>Telefono</small>
													</div>
													<div class="col-md-3 col-sm-3 col-xs-3 center-align-text">
														<h4 style="color:white">[[trabDetalle.email]]</h4>
														<small>E-mail</small>
													</div>
													<div class="col-md-3 col-sm-3 col-xs-3 center-align-text">
														<h4 style="color:white">[[trabDetalle.situacion]]</h4>
														<small>Situacion</small>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
						<div class="row">
							<button class="btn btn-info btn pull-right" ng-click="Detalle_Licencia_individual(dni,periodo)"  data-toggle="modal"  style="margin-right: 5px;" onclick="javascript:pdfReporteDetalle();">
								<i class="fa fa-print"></i> 
								<span class="hidden-xs"> Imprimir</span>
							</button>
						</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
								<!-- Timeline starts -->
								<div class="timeline animated no-padding" >
									<div class="timeline-row active" ng-repeat="fecha in LicenciaTrabajador">
										<div class="timeline-time">
											[[fecha.fecha_registro]]
											<small><span class="text-danger">Periodo:</span> [[fecha.periodo]]</small>
										</div>
										<div class="timeline-icon">
											<div ng-if="[[fecha.tipo_licencia]]==1" class="danger-bg">
												<i class="fa fa-check"></i>
											</div>
											<div ng-if="[[fecha.tipo_licencia]]==2" class="info-bg">
												<i class="fa fa-check"></i>
											</div>
										</div>
										<div class="panel timeline-content">
											<div class="panel-body">
												<div ng-if="[[fecha.tipo_licencia]]==1">
												<h2>
													Licencia Particular
												</h2>
													<span class="text-info"><b>Tiempo:</b></span> [[fecha.numero_horas]] horas
												</div>
												<div ng-if="[[fecha.tipo_licencia]]==2">
												<h2>
													Licencia a cuenta de vacaciones
												</h2>
													<span class="text-info"><b>Tiempo:</b></span> [[fecha.numero_dias]] dias
												</div>
												<span class="text-info"><b>Fecha de Retorno:</b></span> [[fecha.fecha_retorno]]
												<br>
												<span class="text-info"><b>Fecha de Salida:</b></span> [[fecha.fecha_salida]]
												<br>
												<span class="text-info"><b>Autorizado por:</b></span> [[fecha.autorizacion]]
												<br>
												<span class="text-info"><b>Registro:</b></span> [[fecha.registro]]
												<br>
												<span class="text-info"><b>Registro area personal:</b></span> [[fecha.registro_area_personal]]
												<br>
												<span class="text-info"><b>Detalles:</b></span> [[fecha.detalles]]
												<br>
												<br>
											</div>
										</div>
									</div>
								</div>
								<!-- Timeline ends -->
							</div>
						</div>
						<!-- Row end -->

					</div>
					<!-- Spacer Ends -->

				</div>
					</div>
					<div class="modal-footer">

					</div>
				</div>										
			</div>
</div>


<div class="modal fade" id="detalleTrabajador" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title text-info" id="myModalLabel"></h4>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="table-responsive">
											<table class="table table-striped table-bordered table-hover no-margin">
												<tbody>
												<tr>
												<td class="total success" colspan="3" style="background-color: #4984B8; color:#fff;">Detalle Licencia por licencia particular</td>
													</tr>
													<tr >
														<td>Fecha de Salida</td>
														<td>Fecha de Retorno</td>
														<td>Nro. de Horas</td>
													</tr>
												<tr ng-repeat="fecha in LicenciaTrabajador" ng-if="[[fecha.tipo_licencia]]==1">
														<td><span class="label label-success right-align-text">[[fecha.fecha_salida]]</span></td>
														<td><span class="label label-success right-align-text">[[fecha.fecha_salida]]</span></td>
														<td><span class="label label-info right-align-text">[[fecha.numero_horas]]</span></td>

													</tr>
													<tr>
														<td class="total warning" colspan="2">Dias de vacaciones disfrutados por permisos</td>
														<td class="warning"><span class="label label-danger right-align-text">[[vac_trabajador.horas_acumuladas/8| entero]]</span></td>
													</tr>
													<tr>
												<td class="total info" colspan="3" style="background-color: #65B3A3; color:#fff;">Detalle Licencia a cuenta de Vacaciones</td>
													</tr>
													<tr >
														<td>Fecha de Salida</td>
														<td>Fecha de Retorno</td>
														<td>Nro. de Dias</td>
													</tr>
													<tr ng-repeat="fecha in LicenciaTrabajador" ng-if="[[fecha.tipo_licencia]]==2">
														<td><span class="label label-success right-align-text">[[fecha.fecha_salida]]</span></td>
														<td class=""><span class="label label-info right-align-text">[[fecha.fecha_retorno]]</span></td>
														<td class=""><span class="label label-info right-align-text">[[fecha.numero_dias]]</span></td>
													</tr>
													<tr>
														<td class="total warning" colspan="2">Dias de vacaciones disfrutados a cuenta de vacaciones</td>
														<td class="warning"><span class="label label-danger right-align-text">[[vac_trabajador.dias_acumulados| entero]]</span></td>
													</tr>
													<tr>
														<td class="total danger" colspan="3" style="background-color: #D14C4D; color:#fff;">Resumen</td>
													</tr>
													<tr>
														<td class="total success" colspan="2">Total dias de Vacaciones</td>
														<td class="success"><span class="label label-warning right-align-text">30</span></td>
													</tr>
													<tr>
														<td class="total text-info" colspan="2">Dias Disfrutados por permisos</td>
														<td class="success"><span class="label label-warning right-align-text">[[vac_trabajador.horas_acumuladas/8| entero]]</span></td>
													</tr>
													<tr>
														<td class="total text-danger" colspan="2">Dias Disfrutados a cuenta de vacaciones</td>
														<td class="success"><span class="label label-warning right-align-text">[[vac_trabajador.dias_acumulados| entero]]</span></td>
													</tr>
													<tr>
														<td class="total  text-success" colspan="2">Dias que faltan por disfrutar</td>
														<td class="success"><span class="label label-success right-align-text">[[30-(vac_trabajador.dias_acumulados + vac_trabajador.horas_acumuladas/8 | entero)]]</span></td>
													</tr>
												</tbody>
											</table>
											<br>
												<div class="pull-right">
													<button type="button" class="btn btn-info" onclick="javascript:pdfIndividual()">
														<i class="fa fa-print"></i> 
														<span class="hidden-xs">Imprimir</span>
													</button>
													<button type="button" class="btn btn-danger" data-dismiss="modal">
														<i class="fa fa-close"></i> 
														<span class="hidden-xs">Cancelar</span>
													</button>
												</div>
										</div>	
					</div>
					<div class="modal-footer">
					</div>
				</div>										
			</div>
</div>

<div class="modal fade" id="detalleGeneral" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title text-info" id="myModalLabel"></h4>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="table-responsive">

											<table class="table table-striped table-bordered table-hover no-margin">
												<tbody>
																									<tr>
												<td class="total success" colspan="5" style="background-color: #4984B8; color:#fff;">Detalle Licencia de Trabajadores</td>
													</tr>
													<tr >
														<td>DNI</td>
														<td>Nombres</td>
														<td>Periodo</td>
														<td>Vacaciones Difrutadas</td>
														<td>Vacaciones Por Disfrutar</td>

													</tr>
												<tr ng-repeat="vacaciones in vacacionesTrabajadores">
														<td>[[vacaciones.trabajador.dni]]</td>
														<td>
																[[vacaciones.trabajador.nombres]] [[vacaciones.trabajador.ap_paterno]]  [[vacaciones.trabajador.ap_materno]]
														</td>
														<td>
															[[vacaciones.anio]]
														</td>
														<td>
															<span class="label label-danger right-align-text">
																[[(vacaciones.dias_acumulados + vacaciones.horas_acumuladas/8)| entero]]
															</span>
														</td>
														<td>
															<span class="label label-info right-align-text">
																[[30-(vacaciones.dias_acumulados + (vacaciones.horas_acumuladas/8 | entero ) ) | number:0]]
															</span>
														</td>
													</tr>
												</tbody>
											</table>
											<br>
												<div class="pull-right">
													<button type="button" class="btn btn-info" onclick="javascript:pdfGeneral()">
														<i class="fa fa-print"></i> 
														<span class="hidden-xs">Imprimir</span>
													</button>
													<button type="button" class="btn btn-danger" data-dismiss="modal">
														<i class="fa fa-close"></i> 
														<span class="hidden-xs">Cancelar</span>
													</button>
												</div>
										</div>	
					</div>
					<div class="modal-footer">
					</div>
				</div>										
			</div>
</div>


<section id="reporte_general" style="display:none;"> 
	<div style="text-align:center; text-transform: uppercase; font-size:20px;"><b>Reporte de Vacaciones de Trabajadores</b></div>
		<div ng-repeat="vacaciones in vacacionesTrabajadores">
		<p>________________________________________________________________________________________________</p>
		<h4><b>Nombre:</b> [[vacaciones.trabajador.nombres]] [[vacaciones.trabajador.ap_paterno]]  [[vacaciones.trabajador.ap_materno]] </h4>
		<p>
			<h5 class="fecha"><b>Periodo: </b> [[vacaciones.anio]] </h5>
			<h5 class="fecha"><b>Dias Disfrutados: </b>[[(vacaciones.dias_acumulados + vacaciones.horas_acumuladas/8)| entero]] </h5>
			<h5 class="fecha"><b>Dias por Disfrutar: </b>[[30-(vacaciones.dias_acumulados + (vacaciones.horas_acumuladas/8 | entero ) ) | number:0]]</h5>
		</p>
		</div>
</section>

<section class="bg--white soft-three" id="reporteDetalle" style="display:none">
	<div style="text-align:center; text-transform: uppercase; font-size:20px;"><b>Reporte de Licencias</b></div>
	<div style="text-align:center; text-transform: uppercase; font-size:20px;"><b>PERIODO [[periodo]]</b></div>
	<br>
	<br>
		<p>________________________________________________________________________________________________</p>
		<div>
			<h4>Nombre: [[trabDetalle.nombres]] [[trabDetalle.ap_paterno]] [[trabDetalle.ap_materno]]</h4>
		</div>
	<br>
	<div>
		<div ng-repeat="fecha in LicenciaTrabajador">
		<p>---------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
		<div class="fecha">[[$index+1]]</div>
			<p ng-if="[[fecha.tipo_licencia]]==1"> <b>Tipo de Licencia:</b> Licencia particular</p>
			<p ng-if="[[fecha.tipo_licencia]]==2"> <b>Tipo de Licencia:</b> Licencia a cuenta de vacaciones</p>
			<p> <b>Fecha de salida:</b> [[fecha.fecha_salida]]</p>
			<p> <b>Fecha de Retorno: </b> [[fecha.fecha_retorno]]</p>
			<p ng-if="[[fecha.tipo_licencia]]==1"> <b>Nro  Horas: </b> [[fecha.numero_horas]]</p>
			<p ng-if="[[fecha.tipo_licencia]]==2"> <b>Nro  Dias: </b> [[fecha.numero_dias]]</p>
			<p> <b>Autorizado por: </b> [[fecha.autorizacion]]</p>
			<p> <b>Registro: </b> [[fecha.registro]]</p>
			<p> <b>Registro de area de personal: </b> [[fecha.registro_area_personal]]</p>
			<p> <b>Detalles: </b> [[fecha.detalles]]</p>
		</div>
		
</section>

<section class="bg--white soft-three" id="reporte_individual" style="display:none">
	<div style="text-align:center; text-transform: uppercase; font-size:20px;"><b>Calendario Laboral de la Municipalidad de Wanchaq</b></div>
	<div style="text-align:center; text-transform: uppercase; font-size:20px;"><b>PERIODO [[periodo]]</b></div>
	<br>
	<br>
		<p>________________________________________________________________________________________________</p>
		<div>
			<h4>Nombre: [[trabDetalle.nombres]] [[trabDetalle.ap_paterno]] [[trabDetalle.ap_materno]]</h4>
		</div>
	<div class="subtitulo">
			<h5>Dias por permiso o licencia particular</h5>
	</div>
	<br>
	<div>
		<div ng-repeat="fecha in LicenciaTrabajador">
			<p ng-if="[[fecha.tipo_licencia]]==1"> <b>Fecha:</b> [[fecha.fecha_salida]] | <b>Nro Horas:</b> [[fecha.numero_horas]]</p>
		</div>
		<h5 class="fecha">Dias disfrutados:[[vac_trabajador.horas_acumuladas/8| entero]]</h5>
	</div>
		<p>________________________________________________________________________________________________</p>
	<div class="subtitulo"><h5>Dias por permiso a cuenta de vacaciones</h5></div>
		<br>
	<div>
		<div ng-repeat="fecha in LicenciaTrabajador">
			<p ng-if="[[fecha.tipo_licencia]]=='2'"> 
				<span><b>Fecha de Salida:</b> [[fecha.fecha_salida]]</span> | 
				<b>Fecha de Retorno: </b>[[fecha.fecha_retorno]] | 
				<b>Nro Dias:</b> [[fecha.numero_dias]] 
			</p>
		</div>
		<h5 class="fecha">Dias disfrutados:[[vac_trabajador.dias_acumulados| entero]]</h5>
	</div>
		<p>________________________________________________________________________________________________</p>
	<div>
		<h5>Dias de Vacaciones: 30</h5>  <h5>Dias Disfrutados: [[(vac_trabajador.dias_acumulados + vac_trabajador.horas_acumuladas/8)| entero]] </h5> <h5>Dias por Disfrutar:[[30-(vac_trabajador.dias_acumulados + vac_trabajador.horas_acumuladas/8 | entero)]]</h5>
	</div>
</section>
</div>
</div>	
{%endblock%}

