
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="shortcut icon" href="img/favicon.ico">
		<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="{{STATIC_URL}}css/animate.css" rel="stylesheet" media="screen">
		<link href="{{STATIC_URL}}css/alertify/alertify.core.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/alertify/alertify.default.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/main.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="{{STATIC_URL}}css/datepicker.css">
		<link href="{{STATIC_URL}}fonts/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">
		<link href="{{STATIC_URL}}css/animate.css" rel="stylesheet" media="screen">
		<link href="{{STATIC_URL}}css/estilos.css" rel="stylesheet" media="screen">
		<!-- <link href="{{STATIC_URL}}css/bootstrap-combined.min.css" rel="stylesheet" media="screen"> -->
		<!-- <link href="{{STATIC_URL}}css/jquery-ui.css" rel="stylesheet" media="screen"> -->

		{% block css %}

		{% endblock css%}

		{% block title %}
		<title>Index</title>
		{% endblock title %}

	</head>  

	<body>
		<header>
			<div class="logo">
				<a href="#">
					<img src="{{STATIC_URL}}img/wanchaq.png" alt="logo">
					<span class="menu-toggle hidden-xs">
						<i class="fa fa-bars"></i>
					</span>
				</a>
			</div>
			<!-- Logo ends -->
			<!-- Mini right nav starts -->
			<div class="pull-right">
				<ul id="mini-nav" class="clearfix">
					<li class="list-box user-profile hidden-xs">
						<a href="login.html" class="user-avtar animated rubberBand">
							<img src="{{STATIC_URL}}img/user4.png" alt="user avatar">
						</a>
					</li>
				</ul>
			</div>
		</header>

		<aside id="sidebar">

			<!-- Current User Starts -->
			<div class="current-user">
				<div class="user-avatar animated rubberBand">
					<img src="{{STATIC_URL}}img/user4.png" alt="Current User">
					<span class="busy"></span>
				</div>
				<div class="user-name">Bienvenido <span class="text-danger">{{user.username}}</span></div>
				
			</div>
			<!-- Current User Ends -->

			<!-- Menu start -->
			<div id='menu'>
				<ul>
					<li>
						<a href='/areas/'>
							<i class="fa fa-puzzle-piece"></i> 
							<span>Areas</span>
						</a>
					</li>
					<li>
						<a href='/trabajadores/periodos/'>
							<i class="fa fa-calendar"></i> 
							<span>Periodos</span>
						</a>
					</li>
					<li>
						<a href='/trabajadores/lista_trabajadores/'>
							<i class="fa fa-user"></i> 
							<span>Trabajadores</span>
						</a>
					</li>
					<li>
						<a href='/licencias/licencia/'>
							<i class="fa fa-server"></i> 
							<span>Licencias</span>
						</a>
					</li>
					<li>
						<a href='/trabajadores/reportes'>
							<i class="fa fa-book"></i> 
							<span>Reportes</span>
						</a>
					</li>
				</ul>
			</div>
			<!-- Menu End -->

		</aside>
		<!-- Left sidebar ends -->

		<!-- Dashboard Wrapper starts -->
		<div class="dashboard-wrapper">

			<!-- Top Bar starts -->
			<div class="top-bar">
				<div class="page-title">
				 {% block Titulo_Pagina%}Inicio{%endblock%}
				</div>
			</div>
			<!-- Top Bar ends -->

			<!-- Main Container starts -->
			<div class="main-container">
				<!-- Container fluid Starts -->
				<div class="container-fluid">
				{% block contenedor_principal%}
				{% endblock%}
				</div>
			</div>
			<!-- Main Container ends -->
		</div>
		
		{% block js%}{% endblock%}

		<script src="{{STATIC_URL}}js/jquery.js"></script>
		<script src="{{STATIC_URL}}js/jquery-ui.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="https://code.angularjs.org/1.3.14/angular-cookies.js"></script>
		<script src="{{STATIC_URL}}js/controladores/controladores.js"></script>
		<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
		<script src="{{STATIC_URL}}js/jspdf.js"></script>
		<script src="{{STATIC_URL}}js/sparkline.js"></script>
		<script src="{{STATIC_URL}}js/scrollup//jquery.scrollUp.js"></script>
		<script src="{{STATIC_URL}}js/alertify/alertify.js"></script>
		<script src="{{STATIC_URL}}js/alertify/alertify-custom.js"></script>
		<script src="{{STATIC_URL}}js/flot/jquery.flot.js"></script>
		<script src="{{STATIC_URL}}js/flot/jquery.flot.tooltip.min.js"></script>
		<script src="{{STATIC_URL}}js/flot/jquery.flot.resize.min.js"></script>
		<script src="{{STATIC_URL}}js/flot/jquery.flot.stack.min.js"></script>
		<script src="{{STATIC_URL}}js/flot/jquery.flot.orderBar.min.js"></script>
		<script src="{{STATIC_URL}}js/flot/jquery.flot.pie.min.js"></script>
		<script src="{{STATIC_URL}}js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
		<script src="{{STATIC_URL}}js/jvectormap/jquery-jvectormap-usa.js"></script>
		<script src="{{STATIC_URL}}js/custom.js"></script>
		<script src="{{STATIC_URL}}js/custom-index.js"></script>
		<script src="{{STATIC_URL}}js/jquery.maskedinput.min.js"></script>
		<script>
	        jQuery(function($){
	            $("#numero1").mask("9,99", {

	                // Generamos un evento en el momento que se rellena
	                completed:function(){
	                    $("#numero1").addClass("ok")
	                }
	            });
	            
	            // Definimos las mascaras para cada input
	            $("#periodo").mask("9999");
	            $("#dni").mask("99999999");
	            $("#date").mask("99/99/9999");
	            $("#movil").mask("999999999");
	            // $("#email").mask("?@*.com");
	        });
		</script>
	</body>
</html>