<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="shortcut icon" href="img/favicon.ico">
		<title>Login</title>
		<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="{{STATIC_URL}}css/animate.css" rel="stylesheet" media="screen">
		<link href="{{STATIC_URL}}css/main.css" rel="stylesheet" media="screen">
		<link href="{{STATIC_URL}}css/login.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">
		<link href="{{STATIC_URL}}css/alertify/alertify.core.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/alertify/alertify.default.css" rel="stylesheet">
	</head>  

	<body>
		<!-- Container Fluid starts -->
		<div class="container-fluid" ng-app="App" ng-controller="controlador">
			<div class="row">
				<div class="col-md-push-4 col-md-4 col-sm-push-3 col-sm-6 col-sx-12">
					
					<div class="login-container">
						<div class="login-wrapper animated flipInY">
							<div id="login" class="show">
								<div class="login-header">
									<h5>Sistema de Vacaciones de la Municipalidad de Wanchaq</h5>
								</div>
								{% if form.errors %}
								<p><br>! Usuario o Contraseña incorrecta!!</p>
								{% endif %}
								<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
									{% csrf_token %}
									<div class="form-group has-feedback">
										<label class="control-label" for="userName">Usuario</label>
										<input type="text" class="form-control" ng-model="usuario.usuario" placeholder="Digite su usuario" autofocus name="username">  
										<i class="fa fa-user text-info form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label class="control-label" for="passWord">Contraseña</label>
										<input type="password" class="form-control" ng-model="usuario.contrasenia" placeholder="Digite su contraseña" name="password">
										<i class="fa fa-key text-danger form-control-feedback"></i>
									</div>
									<button type="submit" class="btn btn-danger btn-lg btn-block" value="login">Ingresar</button>
									<input type="hidden" name="next" value="{{ next }}" />
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="{{STATIC_URL}}js/jquery.js"></script>
		<script src="{{STATIC_URL}}js/jquery-ui.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="https://code.angularjs.org/1.3.14/angular-cookies.js"></script>
		<script src="{{STATIC_URL}}js/controladores/controladores.js"></script>
		<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
		<script src="{{STATIC_URL}}js/jspdf.js"></script>
		<script src="{{STATIC_URL}}js/sparkline.js"></script>
		<script src="{{STATIC_URL}}js/scrollup//jquery.scrollUp.js"></script>
		<script src="{{STATIC_URL}}js/alertify/alertify.js"></script>
		<script src="{{STATIC_URL}}js/alertify/alertify-custom.js"></script>
		<script src="{{STATIC_URL}}js/flot/jquery.flot.js"></script>
		<script src="{{STATIC_URL}}js/flot/jquery.flot.tooltip.min.js"></script>
		<script src="{{STATIC_URL}}js/flot/jquery.flot.resize.min.js"></script>
		<script src="{{STATIC_URL}}js/flot/jquery.flot.stack.min.js"></script>
		<script src="{{STATIC_URL}}js/flot/jquery.flot.orderBar.min.js"></script>
		<script src="{{STATIC_URL}}js/flot/jquery.flot.pie.min.js"></script>
		<script src="{{STATIC_URL}}js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
		<script src="{{STATIC_URL}}js/jvectormap/jquery-jvectormap-usa.js"></script>
		<script src="{{STATIC_URL}}js/custom.js"></script>
		<script src="{{STATIC_URL}}js/custom-index.js"></script>

	</body>
</html>